__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

.idea/*
!.idea/runConfigurations/
!.idea/modules.xml
!.idea/misc.xml
*.iml

data/*
!data/.gitkeep

checkpoints/
*.pth
*.ckpt
*.pt

logs/
wandb/
lightning_logs/
outputs/

venv/
env/
.venv/
.env

.DS_Store
Thumbs.db