__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

.idea/*
!.idea/runConfigurations/
!.idea/modules.xml
!.idea/misc.xml
*.iml

data/raw/
data/processed/
data/private/
!data/README.md
!data/examples/
!data/examples/**

checkpoints/
*.pth
*.ckpt
*.pt

logs/
wandb/
lightning_logs/
outputs/
.pytest_cache/

venv/
env/
.venv/
.env

.DS_Store
Thumbs.db
